html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT';
}

nav {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: #0087ffff;
    justify-content: center;
    z-index: 998;
}

nav ul {
    width: 50%;
    background: #0087ffff;
    height: 50px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    letter-spacing: 0;
    display: flex;
    z-index: 999;
    justify-content: space-around;
}

nav li {
    list-style: none;
    width: 10%;
}

nav li:nth-child(1) {
    background-image: url(LOGO-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

nav a {
    color: #d4d4d4;
    line-height: 50px;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    color: #d500ffff;
    text-decoration: none;
}

section {
    width: 100vw;
    height: 100vh;
}

section:nth-child(odd) {
    background-color: #7c7c7c;
}

#bannerRotativo {
    height: 60vh;
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

.slider {
    position: relative;
    width: 100%;
    height: 90%;
    top: 9%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.slideControls {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 200px;
    text-align: center;
    transform: translatex(-50%);
    z-index: 1000;
    list-style: none;
    text-align: center;
}

.slider input[type="radio"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 0;
}

.slideControls label {
    display: inline-block;
    border: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #212121;
    transition: background-color 0.2s linear;
}

#btn1:checked ~ .slideControls label[for="btn1"] {
    background-color: #ff4081;
}
#btn2:checked ~ .slideControls label[for="btn2"] {
    background-color: #ff4081;
}
#btn3:checked ~ .slideControls label[for="btn3"] {
    background-color: #ff4081;
}

.slides {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    height: 90%;
    opacity: 0;
    transform: translatex(-100%);
    transition: transform 250ms linear;
    align-items: center;
}

.slideContent {
    width: 400px;
}

.slideTitle {
    margin-bottom: 20px;
    font-size: 36px;
}

.slideText {
    margin-bottom: 20px;
}

.slideLink {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    background-color: #ff4081;
}

.slideImage img {
    max-width: 100%;
    width: 320px;
    height: 240px;
}

#btn1:checked ~ .slides .slide:nth-child(1) {
    transform: translatex(0);
    opacity: 1;
}
#btn2:checked ~ .slides .slide:nth-child(2) {
    transform: translatex(0);
    opacity: 1;
}
#btn3:checked ~ .slides .slide:nth-child(3) {
    transform: translatex(0);
    opacity: 1;
}
#btn1:not(:checked) ~ .slides .slide:nth-child(1) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
}
#btn2:not(:checked) ~ .slides .slide:nth-child(2) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
}
#btn3:not(:checked) ~ .slides .slide:nth-child(3) {
    animation-name: swap-out;
    animation-duration: 300ms;
    animation-timing-function: linear;
}
  
@keyframes swap-out {
    0% {
        transform: translatex(0);
        opacity: 1;
    }

    50% {
        transform: translatex(50%);
        opacity: 0;
    }

    100% {
        transform: translatex(100%);
    }
}

.tituloHome {
    display: flex;
    position: relative;
    top: 70px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#home h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 40px;
    margin: 0;
}

.navButtons {
    position: relative;
    top: 65px;
    width: 100%;
    height: 25%;
    display: inline-flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.itens {
    width: 15%;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
}

.itens input {
    position: absolute;
    top: 5%;
    width: 160px;
    height: 160px;
    opacity: 0;
    z-index: 999;
}

.itens img {
    width: 45%;
}

.itens label {
    font-size: 35px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.itens input[type="radio"]:checked ~ label{
    border-bottom: solid 10px #0087ffff;
}

.wrapperCardItens {
    display: none;
    position: relative;
    width: 95vw;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.CI1 {
    left: 15vw;
}
.CI3 {
    right: 15vw;
}

.cardsItens {
    display: flex;
    text-align: justify;
    position: relative;
    top: 2rem;
    width: 70rem;
    height: 30rem;
}

#item1:checked ~ .wrapperCardItens {
    display: flex;
}
#item2:checked ~ .wrapperCardItens {
    display: flex;
}
#item3:checked ~ .wrapperCardItens {
    display: flex;
}

.cardItem {
    background: #0087ff5c;
    width: 50%;
    margin: 20px;
    padding: 25px;
    text-align: justify;
    font-size: 1.2rem;
    border-radius: 20px;
}

.cardItem img {
    width: 100%;
}

.cardItem h3 {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 5px;
}

.cardItem p {
    margin-top: 0;
}

.buttonCard {
    text-align: center;
}

.btnCards {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: bolder;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
}

.btnCards:hover {
    background-color: #d62f0a;
    color: #ffffff;
}

.btnCards:active {
    background-color: #0b1a3b;
    color: #ffffff;
}