html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans MT';
}

nav {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: #0087ffff;
    justify-content: center;
    z-index: 998;
}

nav ul {
    width: 46%;
    background: #0087ffff;
    height: 50px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    letter-spacing: 0;
    display: flex;
    z-index: 999;
    justify-content: space-around;
}

nav li {
    list-style: none;
    width: 10%;
}

nav li:nth-child(1) {
    background-image: url(LOGO-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

nav a {
    color: #d4d4d4;
    line-height: 50px;
    box-sizing: border-box;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    color: #d500ffff;
    text-decoration: none;
}

section {
    width: 100vw;
    height: 100vh;
}

section:nth-child(odd) {
    background-color: #7c7c7c;
}